@model MOTILab4.Models.Elector

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Elector</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectorRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectorRatio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ElectorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
